# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.settings
.vscode
bin
.classpath
.project

# gradle
build
.gradle
libs
logs
out
classes
run

# macos
*.DS_Store

# other
eclipse
run

# java
*.class
*.war
*.ear