# Last update: MC 1.9 - 18 Mar 2016
# Block
public net.minecraft.block.Block blockHardness # blockHardness

# CompiledChunk
public net.minecraft.client.renderer.chunk.CompiledChunk$1 setLayerUsed(Lnet/minecraft/util/BlockRenderLayer;)V # setLayerUsed
public net.minecraft.client.renderer.chunk.CompiledChunk setLayerUsed(Lnet/minecraft/util/BlockRenderLayer;)V # setLayerUsed

# Entity
public net.minecraft.entity.Entity setSize(FF)V # setSize
public net.minecraft.entity.EntityAgeable setSize(FF)V # setSize
public net.minecraft.entity.monster.EntityZombie setSize(FF)V # setSize
public net.minecraft.entity.Entity isImmuneToFire # isImmuneToFire

# EntityArrow
public net.minecraft.entity.projectile.EntityArrow inGround # inGround

# EntityCreeper
public net.minecraft.entity.monster.EntityCreeper explode()V # explode
public net.minecraft.entity.monster.EntityCreeper explosionRadius # explosionRadius
public net.minecraft.entity.monster.EntityCreeper timeSinceIgnited # timeSinceIgnited
public net.minecraft.entity.monster.EntityCreeper fuseTime # fuseTime

# EntityItem
public net.minecraft.entity.item.EntityItem health # health

# EntityLightningBolt
public net.minecraft.entity.effect.EntityLightningBolt lightningState # lightningState

# EntityLivingBase
#public net.minecraft.entity.EntityLivingBase getHurtSound()Ljava/lang/String; # getHurtSound
#public net.minecraft.entity.EntityLivingBase getDeathSound()Ljava/lang/String; # getDeathSound
public net.minecraft.entity.EntityLivingBase jump()V # jump
public net.minecraft.entity.monster.EntityMagmaCube jump()V # jump
public net.minecraft.entity.monster.EntitySlime jump()V # jump
public net.minecraft.entity.passive.EntityRabbit jump()V # jump
public net.minecraft.entity.EntityLivingBase isJumping # isJumping
public net.minecraft.entity.EntityLivingBase ticksSinceLastSwing # ticksSinceLastSwing

# EntityPlayer
public net.minecraft.entity.player.EntityPlayer sleeping # sleeping
public net.minecraft.entity.player.EntityPlayer sleepTimer # sleepTimer

# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer *() # All Methods
public net.minecraft.client.renderer.EntityRenderer * # All Fields

# GuiBossOverlay
public net.minecraft.client.gui.GuiBossOverlay mapBossInfos # mapBossInfos

# GuiIngame
public net.minecraft.client.gui.GuiIngame remainingHighlightTicks # remainingHighlightTicks

# GuiScreen
public net.minecraft.client.gui.GuiScreen buttonList # buttonList

# ItemRenderer
public net.minecraft.client.renderer.ItemRenderer * # All Fields

# LayerArmorBase
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177189_c # field_177189_c
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177186_d # field_177186_d

# Minecraft
public net.minecraft.client.Minecraft defaultResourcePacks # defaultResourcePacks
public net.minecraft.client.Minecraft mcResourceManager # mcResourceManager
public net.minecraft.client.Minecraft clickMouse()V # clickMouse
public net.minecraft.client.Minecraft rightClickMouse()V # rightClickMouse
public net.minecraft.client.Minecraft middleClickMouse()V # middleClickMouse

# MobSpawnerBaseLogic
public net.minecraft.tileentity.MobSpawnerBaseLogic getEntityNameToSpawn()Ljava/lang/String; # getEntityNameToSpawn
public net.minecraft.tileentity.MobSpawnerBaseLogic isActivated()Z # isActivated

# ModelBox
public net.minecraft.client.model.ModelBox quadList # quadList

# ModelRenderer
public net.minecraft.client.model.ModelRenderer compileDisplayList(F)V # compileDisplayList
public net.minecraft.client.model.ModelRenderer textureOffsetX # textureOffsetX
public net.minecraft.client.model.ModelRenderer textureOffsetY # textureOffsetY
public net.minecraft.client.model.ModelRenderer compiled # compiled
public net.minecraft.client.model.ModelRenderer displayList # displayList
public net.minecraft.client.model.ModelRenderer baseModel # baseModel

# ModelWolf
public net.minecraft.client.model.ModelWolf wolfTail # wolfTail
public net.minecraft.client.model.ModelWolf wolfMane # wolfMane

# NetHandlerPlayServer
public net.minecraft.network.NetHandlerPlayServer networkTickCount # networkTickCount
public net.minecraft.network.NetHandlerPlayServer targetPos # targetPos
public net.minecraft.network.NetHandlerPlayServer lastPositionUpdate # lastPositionUpdate

# NBTTagCompound
public net.minecraft.nbt.NBTTagCompound tagMap # tagMap

# Particle
public net.minecraft.client.particle.Particle prevPosX # prevPosX
public net.minecraft.client.particle.Particle prevPosY # prevPosY
public net.minecraft.client.particle.Particle prevPosZ # prevPosZ
public net.minecraft.client.particle.Particle posX # posX
public net.minecraft.client.particle.Particle posY # posY
public net.minecraft.client.particle.Particle posZ # posZ
public net.minecraft.client.particle.Particle motionX # motionX
public net.minecraft.client.particle.Particle motionY # motionY
public net.minecraft.client.particle.Particle motionZ # motionZ

# ParticleManager
public net.minecraft.client.particle.ParticleManager PARTICLE_TEXTURES # PARTICLE_TEXTURES
public net.minecraft.client.particle.ParticleManager fxLayers # fxLayers

# PositionedSoundRecord
public net.minecraft.client.audio.PositionedSoundRecord *() # All Methods

# Render
public net.minecraft.client.renderer.entity.Render shadowSize # shadowSize

# RenderChunk
public net.minecraft.client.renderer.chunk.RenderChunk preRenderBlocks(Lnet/minecraft/client/renderer/VertexBuffer;Lnet/minecraft/util/math/BlockPos;)V # preRenderBlocks
public net.minecraft.client.renderer.chunk.RenderChunk postRenderBlocks(Lnet/minecraft/util/BlockRenderLayer;FFFLnet/minecraft/client/renderer/VertexBuffer;Lnet/minecraft/client/renderer/chunk/CompiledChunk;)V # postRenderBlocks
public net.minecraft.client.renderer.chunk.RenderChunk world # world
public net.minecraft.client.renderer.chunk.RenderChunk position # position
public net.minecraft.client.renderer.chunk.RenderChunk region # region
public net.minecraft.client.renderer.chunk.RenderChunk lockCompileTask # lockCompileTask
public net.minecraft.client.renderer.chunk.RenderChunk setTileEntities # setTileEntities
public net.minecraft.client.renderer.chunk.RenderChunk renderGlobal # renderGlobal

# RenderGlobal
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation *
public net.minecraft.client.renderer.RenderGlobal *() # All Methods
public net.minecraft.client.renderer.RenderGlobal * # all fields

# RenderLivingBase
public net.minecraft.client.renderer.entity.RenderLivingBase mainModel # mainModel
public net.minecraft.client.renderer.entity.RenderLivingBase layerRenderers # layerRenderers

# RenderManager
public net.minecraft.client.renderer.entity.RenderManager skinMap # skinMap
public net.minecraft.client.renderer.entity.RenderManager playerRenderer # playerRenderer
public net.minecraft.client.renderer.entity.RenderManager renderPosX # renderPosX
public net.minecraft.client.renderer.entity.RenderManager renderPosY # renderPosY
public net.minecraft.client.renderer.entity.RenderManager renderPosZ # renderPosZ

# RenderZombie
public net.minecraft.client.renderer.entity.RenderZombie zombieVillagerModel # zombieVillagerModel

# ResourceLocation
public net.minecraft.util.ResourceLocation resourceDomain # resourceDomain
public net.minecraft.util.ResourceLocation resourcePath # resourcePath

# ThreadDownloadImageData
public net.minecraft.client.renderer.ThreadDownloadImageData bufferedImage # bufferedImage